#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.question{
  width: 100%;
  height: 200px;
  margin-bottom: 2rem;
}
.options{
  display: flex;
  justify-content: space-between;
}

.game-container{
  width: 400px;
}
.correct-text{
  color: green;
}
.wrong-text{
  color: red;
}
p{
  font-weight:bold;
}
.score-container{
  position: fixed;
  top: 0;
  right: 50px;
  font-weight: bold;
  font-size: 1.5rem;
}
.score-title{
  text-decoration: underline;
  margin-bottom: 0;
}
.score-number{
  margin-top: 0;
  font-size: 2rem;
  color: red;
}